<ul class="nav navbar-nav navbar-right">
    <!-- Messages: style can be found in dropdown.less-->
    <li class="dropdown messages-menu" user-notifications>
    </li>
    <!-- Notifications: style can be found in dropdown.less -->
    <li class="dropdown messages-menu" task-assignment-notifications>
    </li>
    <!-- Tasks: style can be found in dropdown.less -->
    <li class="dropdown messages-menu" task-progess-notifications>
    </li>
    <li>
        <a href="#" data-ng-click="!showChat" data-toggle="control-sidebar" id="toggel-sidebar-controll" prevent-default>
            <i class="fa fa-comments"></i>
            <!-- span class="badge bg-blue">4</span -->
        </a>
    </li>
    <li>
        <a href="#" title="logout" data-ng-click="logout($event)">
            <i class="fa fa-power-off fa-fw"></i><span>Logout</span>
        </a>
    </li>
</ul>