<!-- Container -->
    <div class="signin-container" ng-show="validToken">

        <!-- Left side -->
        <div class="signin-info">
            <div class="logo"><img src="img/eAngular-big.png" alt="eAngular" style="margin-top: -5px;width:100%"></div>
        </div>
        <!-- / Left side -->

        <!-- Right side -->
        <div class="signin-form" >

            <!-- Form -->
            <form ng-submit="resetPassword()" id="signin-form_id" name='resetpasswordForm' >
                <div class="signin-text">
                    <span translate="resetpassword.title"></span>
                </div> <!-- / .signin-text -->
                  <div class="alert alert-success" ng-show="changePasswordSuccess"  translate="resetpassword.messages.success" > </div>
            <div class="resetformcontainer" ng-show="!changePasswordSuccess">
                <div class="form-group w-icon" ng-class="{ 'has-error' : resetpasswordForm.reset_password.$invalid && !resetpasswordForm.reset_password.$pristine }">
                    <input type="password" name="reset_password" id="reset_password" ng-model="newpassword" class="form-control input-lg" placeholder="New Password" ng-minlength="5" required>
                    <span class="fa fa-lock signin-form-icon"></span>
                    <div ng-show="resetpasswordForm.reset_password.$invalid && !resetpasswordForm.reset_password.$pristine">
                        <p class="help-block"
                          ng-show="resetpasswordForm.reset_password.$error.required" translate="resetpassword.messages.validate.password.required">
                        </p>
                        <p class="help-block"
                          ng-show="resetpasswordForm.reset_password.$error.minlength" translate="resetpassword.messages.validate.password.minlength">
                      </p>
                    </div>

                </div> <!-- / Username -->

                <div class="form-group w-icon" ng-class="{ 'has-error' : resetpasswordForm.confirm_reset_password.$invalid && !resetpasswordForm.confirm_reset_password.$pristine }">
                    <input type="password" name="confirm_reset_password" id="confirm_reset_password" class="form-control input-lg" ng-model="confirmpassword" placeholder="Confirm New Password" pw-check="reset_password" required>
                    <span class="fa fa-lock signin-form-icon"></span>
                    <div ng-show="resetpasswordForm.confirm_reset_password.$invalid && !resetpasswordForm.confirm_reset_password.$pristine">
                        <p ng-show="resetpasswordForm.confirm_reset_password.$error.required" class="help-block" translate="resetpassword.messages.validate.confirmpassword.required"></p>
                         <p  class="help-block" translate="resetpassword.messages.validate.confirmpassword.matched"  ng-show="resetpasswordForm.confirm_reset_password.$error.pwmatch"></p>
                    </div>
                </div> <!-- / Password -->

                <div class="form-actions">
                    <input type="submit" data-ng-class="{'signin-btn' : resetpasswordForm.$valid , 'inactive-signin-btn' : resetpasswordForm.$invalid }" value="RESET PASSWORD" class="signin-btn bg-primary" ng-disabled="resetpasswordForm.$invalid|| loadingSpinner">
                </div> <!-- / .form-actions -->
                </div>
            </form>
            <!-- / Form -->
             <div class="not-a-member">
                <a ui-sref="account.login" translate="global.label.signin">Sign in</a>
            </div>
        </div>
                 <!-- Right side -->
    </div>
    <!-- / Container -->
<div class="signin-container" ng-show="invalidtoken">

        <!-- Left side -->
        <div class="signin-info">
            <div class="logo"><img src="img/eAngular-big.png" alt="eAngular" style="margin-top: -5px;width:100%"></div>
        </div>
        <!-- / Left side -->
    <div class="signin-form" >
            <div class="alert alert-danger" translate="resetpassword.messages.error.invalidtoken"></div>
            <div class="form-actions forgot-link" >
            <a ui-sref="account.forgotpassword" ng-href="#" class="forgot-password pull-right" id="forgot-password-link" translate="resetpassword.labels.forgotpassword">Forgot your password?</a>
            </div>
             <div class="not-a-member">
               <span translate="global.label.notamember">  Not a member? </span><a ui-sref="account.register" translate="global.label.signup">Sign up now</a>
            </div>
       </div>

 </div>



